# Backend virtual environment
backend/rag_env/

# Python cache
__pycache__/
*.pyc
*.pyo

# Environment variables
backend/.env

# Vectorstore index (optional but recommended)
backend/vectorstore/faiss_index/
backend/data/nvd
backend/data/mitre

# Node modules (frontend)
frontend/node_modules/

# Build folders
frontend/dist/
frontend/build/

# OS files
.DS_Store
Thumbs.db